---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";

let posts: Array<MarkdownInstance<Record<string, any>>> = [];
try {
  posts = await Astro.glob("../pages/posts/*.md");
} catch (error) {
  console.error("No posts found");
}
---

<BaseLayout title="Blog">
  <div class="mx-auto max-w-3xl p-4">
    <h2 class="text-center pb-4 text-3xl font-bold text-gray-900 3xl:text-4xl">
      My articles
    </h2>

    <p class="mb-8">
      Here you can find all my articles. I write about interesting stuff I came
      across while working on projects or just for fun as well as small
      tutorials and guides. I hope you enjoy reading them as much as I enjoyed
      writing and researching them.
    </p>

    <section class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <Article
            icon={post.frontmatter.icon}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            image={post.frontmatter.image}
            pubDate={post.frontmatter.pubDate}
            color={post.frontmatter.color}
            url={post.url}
          />
        ))
      }
    </section>
  </div>
</BaseLayout>
