---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";
import MetaInfo from "./MetaInfo.astro";

interface Props {
  post: CollectionEntry<"posts"> & {
    readingTime?: string;
  };
  loadImageEagerly?: boolean;
}

const { post, loadImageEagerly } = Astro.props;
const { data, readingTime, id } = post;
const { title, description, image, pubDate, category, color } = data;
const url = `/posts/${id}`;
---

<article
  transition:name={id}
  id={id}
  class="@container relative block overflow-hidden rounded-lg border border-neutral-300 p-0 shadow-xs transition focus-within:border-neutral-800 focus-within:shadow-lg not-motion-reduce:hover:shadow-lg contrast-more:border-2 contrast-more:border-black dark:border-neutral-800 dark:bg-neutral-800 dark:shadow-none dark:focus-within:border-neutral-200 contrast-more:dark:border-white contrast-more:dark:bg-black"
  style={`background-color: ${color}08`}
>
  <span
    aria-hidden="true"
    class="absolute inset-x-0 bottom-0 h-2 dark:hue-rotate-180 dark:invert"
    style={`background-color: ${color}`}></span>

  <div class="grid grid-cols-1 transition-all @lg:grid-cols-[auto_1fr]">
    <section
      aria-hidden="true"
      class={"relative block contrast-more:border-black contrast-more:dark:border-white " +
        (image
          ? "contrast-more:@max-lg:border-b-2 contrast-more:@lg:border-r-2"
          : "")}
    >
      {
        image && (
          <a href={url} tabindex="-1">
            <img
              src={image}
              alt={title}
              loading={loadImageEagerly ? "eager" : "lazy"}
              class="h-40 w-full object-cover object-top @lg:h-full @lg:w-60 @lg:object-top-left"
            />
          </a>
        )
      }
    </section>

    <section class="p-4 @sm:p-6">
      <a href={url} class="focus:outline-none">
        <h3
          class="pb-2 text-2xl font-semibold text-neutral-900 contrast-more:text-black @3xl:text-3xl dark:text-neutral-200 contrast-more:dark:text-white"
        >
          {title}
        </h3>

        <p
          class="line-clamp-6 text-base/relaxed text-neutral-600 contrast-more:text-neutral-900 dark:text-neutral-300 contrast-more:dark:text-neutral-100"
        >
          {description}
        </p>
      </a>

      {
        data.tags && (
          <ul class="mt-4 flex flex-wrap items-center gap-1">
            {data.tags.map((tag) => (
              <li>
                <Tag label={tag} />
              </li>
            ))}
          </ul>
        )
      }

      <div class="mt-4">
        <MetaInfo
          pubDate={pubDate}
          readingTime={readingTime}
          category={category}
          color={color}
        />
      </div>
    </section>
  </div>
</article>
