---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { formatDate, formatDateMachine } from "../utils/format-date";
import Tag from "./Tag.astro";

interface Props {
  post: CollectionEntry<"posts"> & {
    readingTime: string;
  };
}

const { post } = Astro.props;
const { data, readingTime, id } = post;
const { title, description, image, pubDate, color } = data;
const url = `/posts/${id}`;
---

<article
  id={id}
  class="@container relative block overflow-hidden rounded-lg border border-neutral-300 p-0 shadow-xs transition hover:shadow-lg dark:border-neutral-800 dark:bg-neutral-800 dark:shadow-none"
  style={`background-color: ${color}08`}
>
  <a href={url} class="group">
    <span
      class="absolute inset-x-0 bottom-0 h-2 dark:hue-rotate-180 dark:invert"
      style={`background-color: ${color}`}></span>

    <div class="grid grid-cols-1 transition-all @lg:grid-cols-[auto_1fr]">
      <section class="relative block">
        {
          image && (
            <img
              src={image}
              alt={title}
              class="h-40 w-full object-cover object-top @lg:h-full @lg:w-60 @lg:object-left-top"
            />
          )
        }
      </section>

      <section class="p-4 @sm:p-6">
        <h3
          class="pb-2 text-2xl font-semibold text-neutral-900 @3xl:text-3xl dark:text-neutral-200"
        >
          {title}
        </h3>

        <div
          class="line-clamp-6 text-base/relaxed text-neutral-600 dark:text-neutral-300"
        >
          {description}
        </div>

        {
          data.tags && (
            <div class="mt-4 flex flex-wrap items-center gap-1">
              {data.tags.map((tag) => (
                <Tag label={tag} />
              ))}
            </div>
          )
        }

        <div
          class="@container mt-4 flex items-baseline justify-start gap-4 text-sm text-neutral-600 dark:text-neutral-100"
        >
          <span class="flex items-center gap-2">
            <Icon
              name="heroicons:calendar-days-16-solid"
              class="size-5 dark:hue-rotate-180 dark:invert"
              style={`color: ${color}`}
            />

            <time
              datetime={formatDateMachine(pubDate)}
              aria-label="Published on"
            >
              {formatDate(pubDate)}
            </time>
          </span>

          <span class="flex items-center gap-2">
            <Icon
              name="heroicons:book-open"
              class="size-5 dark:hue-rotate-180 dark:invert"
              style={`color: ${color}`}
            />

            <span aria-label="Reading time">
              {readingTime}
            </span>
          </span>
        </div>
      </section>
    </div>
  </a>
</article>
