---
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  pubDate?: Date;
  modDate?: Date;
  author?: string;
  tags?: string[];
  post?: boolean;
  slug?: string;
}

const { title, description, pubDate, modDate, author, tags, post, slug } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- SEO -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Blog | pawcode Development"
      href={`${Astro.site}rss.xml`}
    />
    <SEO
      title={title}
      titleTemplate="%s | pawcode Development"
      titleDefault="Blog"
      description={description}
      charset="utf-8"
      openGraph={{
        basic: {
          title: title,
          type: post ? "article" : "website",
          image: slug ? `${slug}/og-image.png` : "/og-image.png",
        },
        optional: {
          siteName: "pawcode Development Blog",
        },
        article: post
          ? {
              publishedTime: pubDate?.toISOString(),
              modifiedTime: modDate?.toISOString(),
              authors: author ? [author] : undefined,
              tags: tags,
            }
          : undefined,
      }}
      twitter={{
        card: "summary_large_image",
        site: "@pawcode",
        creator: "@pawcode",
        title: title,
        image: slug ? `${slug}/og-image.png` : "/og-image.png",
        description: description,
      }}
      extend={{
        link: [
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
          {
            name: "msapplication-TileColor",
            content: "#262626",
          },
          {
            name: "msapplication-config",
            content: "/brand/browserconfig.xml",
          },
          {
            name: "theme-color",
            content: "#262626",
          },
        ],
      }}
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/brand/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/brand/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/brand/favicon-16x16.png"
    />
    <link rel="manifest" href="/brand/site.webmanifest" />
    <link rel="mask-icon" href="/brand/safari-pinned-tab.svg" color="#4472c4" />
    <link rel="shortcut icon" href="/brand/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/brand/favicon.ico" />

    <ClientRouter fallback="none" />
  </head>

  <body
    class="scroll-smooth bg-neutral-100 dark:bg-neutral-900 dark:text-neutral-200"
  >
    <div class="flex min-h-screen flex-col justify-between">
      <Header />

      <main transition:animate="slide">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
