---
import "@fontsource-variable/source-code-pro";
import "@fontsource-variable/source-sans-3";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  pubDate?: Date;
  modDate?: Date;
  author?: string;
  image?: string;
  tags?: string[];
  post?: boolean;
  slug?: string;
}

const {
  title,
  description,
  pubDate,
  modDate,
  author,
  image,
  tags,
  post,
  slug,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- SEO -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Blog | pawcode Development"
      href={`${Astro.site}rss.xml`}
    />
    <SEO
      title={title}
      titleTemplate="%s | pawcode Development"
      titleDefault="Blog"
      description={description}
      charset="utf-8"
      openGraph={{
        basic: {
          title: title,
          type: post ? "article" : "website",
          image: image || (slug ? `${slug}/og-image.png` : "/og-image.png"),
        },
        optional: {
          siteName: "pawcode Development Blog",
        },
        article: post
          ? {
              publishedTime: pubDate?.toISOString(),
              modifiedTime: modDate?.toISOString(),
              authors: author ? [author] : undefined,
              tags: tags,
            }
          : undefined,
      }}
      twitter={{
        card: "summary_large_image",
        site: "@pawcode",
        creator: "@pawcode",
        title: title,
        image: slug ? `${slug}/og-image.png` : "/og-image.png",
        description: description,
      }}
      extend={{
        link: [
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/brand/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/brand/apple-touch-icon.png" />
    <link rel="manifest" href="/brand/manifest.webmanifest" />

    <ClientRouter fallback="none" />
  </head>

  <body
    class="bg-neutral-100 contrast-more:bg-white contrast-more:text-black dark:bg-neutral-900 dark:text-neutral-200 contrast-more:dark:bg-black contrast-more:dark:text-white print:bg-white print:text-black"
  >
    <div class="flex min-h-screen flex-col justify-between">
      <Header />

      <main transition:animate="slide">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
