---
import type { CollectionEntry } from "astro:content";
import Tag from "../components/Tag.astro";
import { formatDate, formatDateMachine } from "../utils/format-date";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"];
  slug: string;
  readingTime: string;
}

const { frontmatter, slug, readingTime } = Astro.props;

const pixelUrl = `https://analytics.apps.pawcode.de/matomo.php?idsite=9&rec=1&send_image=0&action_name=${encodeURIComponent(
  frontmatter.title,
)}`;
---

<BaseLayout {...frontmatter} slug={`/posts/${slug}`} post={true}>
  <div class="mx-auto max-w-screen-md p-4 @container">
    <section
      class="border-b border-b-neutral-200 pb-2 dark:border-b-neutral-800"
    >
      <h1
        class="pb-4 pt-8 text-3xl font-bold text-neutral-900 first:pt-0 last:pb-0 @3xl:text-4xl dark:text-neutral-200"
      >
        {frontmatter.title}
      </h1>

      <div class="flex flex-wrap items-center gap-1 pb-4">
        {frontmatter.tags?.map((tag) => <Tag label={tag} size="medium" />)}
      </div>

      <p class="text-sm text-right text-neutral-500 dark:text-neutral-300">
        {readingTime}
      </p>
    </section>

    <section class="prose lg:prose-lg mt-4 max-w-screen-md dark:prose-invert">
      <div id="content">
        <slot />
      </div>

      <p class="text-sm text-right text-neutral-500 dark:text-neutral-300">
        <time datetime={formatDateMachine(frontmatter.pubDate)}>
          {frontmatter.pubDate && formatDate(frontmatter.pubDate)}
        </time>

        {
          frontmatter.modDate && (
            <time datetime={formatDateMachine(frontmatter.modDate)}>
              {" "}
              (Updated: <span>{formatDate(frontmatter.modDate)}</span>)
            </time>
          )
        }
      </p>

      <hr class="mt-8" />

      <section class="prose lg:prose-lg mt-4 max-w-screen-md dark:prose-invert">
        If you have any questions or other feedback, feel free to reach out to
        me on the social media platforms listed below.
      </section>
    </section>
  </div>

  <noscript>
    <img class="opacity-0 w-0 h-0" src={pixelUrl} />
  </noscript>
</BaseLayout>
